# Node modules
node_modules/
.angular/
.vscode/

TreeList/bin/
TreeList/obj/

# Build output
dist/
build/

# IDE/editor files
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Compiled output
*.tsbuildinfo

# Coverage
coverage/

# Misc
*.tgz

# Ignore local environment
local.env

# Visual Studio
.vs/
*.sln
